body {
  background-color: grey;
  font-family: 'Dancing Script', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-family: Arial, sans-serif;
}

.btn {
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #45a049; /* Темнее зеленый при наведении */
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

h1 {
  animation: pulse 1s infinite;
  display: none;
  font-family: 'Dancing Script', cursive;
}

.heart {
  animation: heartbeat 1s infinite;
  background-color: red;
  display: none;
  height: 50px;
  margin: 0 10px;
  transform: rotate(-45deg);
  width: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat
{
  0% { transform: scale( 1 ) rotate(-45deg); }
  20% { transform: scale( 1.25 )  rotate(-45deg); }
  40% { transform: scale( 1.5 ) rotate(-45deg); }
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

#text {
  font-size: 24px;
  white-space: pre-wrap; /* Чтобы текст переносился на новую строку */
  text-align: justify;
}

.love {
  position: relative;
  height: calc(100vh - 80vh);
  overflow: hidden;
}

.serdce:before,
.serdce::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 50px;
  background-color: inherit;
  border-radius: 50px 50px 0 0;
}

.serdce:before {
  transform: rotate(45deg);
  left: 50px;
}

.serdce:after {
  transform: rotate(-45deg);
  left: 35px;
}

.serdce {
  position: absolute;
  background-color: red;
  transition: transform 0.5s ease;
}

.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Окно фиксировано */
  z-index: 1; /* Сверху */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если нужно */
  background-color: rgb(0,0,0); /* Фоновый цвет */
  background-color: rgba(0,0,0,0.4); /* Фон с прозрачностью */
}
